
.butt-box {
	margin-top: 25px;
}

._value input {
	width: 400px;
	height: 25px;
	border: 1px solid #42888D;
}

._value textarea {
	width: 400px;
	height: 100px;
	resize: none;
	border: 1px solid #42888D;
	overflow: auto;
}

._value select {
	width: 400px;
	height: 30px;
	border: 1px solid #42888D;
	padding: 5px;
}

._label {
	margin-top: 20px;
	margin-bottom: 2px;
	font-size: 13px;
	color: #42888D;
}

._label .restr {
	font-size: 12px;
	margin-left: 30px;
}

.butt-green, .butt-red {
	margin-top: 20px;
}

._label .chk {
	margin-top: 10px;
}

._label .chk span {
	margin-left: 5px;
	font-size: 15px;
	font-weight: plain;	
}

.I-err {
 	color: red;
	font-size: 12px;
	margin: 3px 0px;
}

.I-errs {
	width: 400px;
	line-height: 30px;
	font-size: 13px;
	background: lightyellow;
	border: 1px solid lightgray;
	margin: 10px 0px;
	color: red;
	padding-left: 10px;
	display: none;
}
